/* Estilos para los card de los cursos para matriculas */


.card_curso{
	text-decoration: none!important;
	overflow: hidden;
	display: block;
	border-radius: 10px;

	.overall{
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 10;
		opacity: 0;
		background-color: #5DADE2;
		border-radius: 10px;

	}

	.card_cursos_select{
		.card-body{
			height: 120px!important;
			padding: 10px!important;
			.card-title{
				font-size: 16px!important;
				display: block;
				span{
					font-weight: bold;
					display: block;
				}
			}
		}
	}
}

.form-check-radio{

	.form-check-label{
		input{
			opacity: .4;
		}

		span{
			margin-left: 10px;
			margin-top: -4px!important;
			font-size: 14px;
		}
	}
}